
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900');
@import url('https://fonts.googleapis.com/css?family=Tangerine');
@import url('https://fonts.googleapis.com/css?family=Pinyon+Script');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:700');
/* ---- RESET ---- */
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block}
html,body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,fieldset,button,input,abbr,article,aside,command,details,figcaption,figure,footer,header,hgroup,mark,meter,nav,output,progress,section,summary,time,menu,select,legend{margin:0;padding:0}
h1,h2,h3,h4,h5,h6{font-size:1em;font-weight:400}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1}
audio:not([controls]){display:none;height:0}
[hidden]{display:none}
html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
html,button,input,select,textarea{font-family:'Montserrat',Apple SD Gothic Neo,Malgun Gothic,Dotum,Helvetica,Helvetica Neue,Arial,Verdana,sans-serif;font-weight:400;-webkit-font-smoothing:antialiased;word-spacing:-1px;-webkit-text-size-adjust:none}
body{margin:0}
a:active,a:hover,a:focus{outline:0}
b,strong{font-weight:bold}
ul,ol{list-style:none}
img{border:0;-ms-interpolation-mode:bicubic}
svg:not(:root){overflow:hidden}
figure{margin:0}
form{margin:0}
legend{border:0;padding:0;white-space:normal;*margin-left:-7px}
button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle}
button,input{line-height:normal}
button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;*overflow:visible}
button[disabled],input[disabled]{cursor:default}
input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;*height:13px;*width:13px}
input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}
input[type=search]::-webkit-search-cancel-button,input[type='search']::-webkit-search-decoration{-webkit-appearance:none}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
a,button{-webkit-tap-highlight-color:transparent}
button{border:0 none;background-color:transparent;cursor:pointer}
textarea{overflow:auto;vertical-align:top;resize:none;font-family:'Montserrat',Apple SD Gothic Neo,Malgun Gothic,Dotum,Helvetica,Helvetica Neue,Arial,Verdana,sans-serif}
table{border-collapse:collapse;border-spacing:0}
html,button,input,select,textarea,a{color:#222}
*{-webkit-tap-highlight-color:rgba(0,0,0,0)}
img{vertical-align:middle}
a{cursor:pointer;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-touch-callout:none}
a:hover{color:#222}
a:hover,a:link,a:visited,a:active{text-decoration:none}
a.select{cursor:default !important;-webkit-transition:none !important;-moz-transition:none !important;-ms-transition:none !important;-o-transition:none !important;transition:none !important}
input{-webkit-appearance:none;border-radius:0;font-family:'Montserrat',Apple SD Gothic Neo,Malgun Gothic,Dotum,Helvetica,Helvetica Neue,Arial,Verdana,sans-serif}
input[type=number]{-moz-appearance:textfield}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{-webkit-appearance:none;margin:0}
fieldset{border:none}

/* ---- LAYOUT ---- */
body{background-color: #eeecea;}
.blind{display:none;visibility:hidden}
#wrap{position:relative;width:100%; overflow: hidden;}
#global-nav{position:fixed;z-index:1000;top:0;width:100%;background-color:#eeecea;font-family: 'Open Sans', sans-serif;box-shadow:0 1px 2px rgba(34,34,34,0.1);box-sizing:border-box;text-align:center;-webkit-transition:-webkit-transform 120ms ease-in-out;-moz-transition:-moz-transform 120ms ease-in-out;-ms-transition:-ms-transform 120ms ease-in-out;-o-transition:-o-transform 120ms ease-in-out;transition:transform 120ms ease-in-out}
#global-nav.hide{-webkit-transform:translateY(-100%);-moz-transform:translateY(-100%);-ms-transform:translateY(-100%);-o-transform:translateY(-100%);transform:translateY(-100%)}
#global-nav li{display:inline-block;position:relative;height:60px;}
#global-nav li + li{padding-left:40px}
#global-nav li a{display:block;position:relative;padding:15px 10px;color:#888;font-size:14px;font-weight:600;line-height:30px;-webkit-transition:color 180ms ease-in-out;-moz-transition:color 180ms ease-in-out;-ms-transition:color 180ms ease-in-out;-o-transition:color 180ms ease-in-out;transition:color 180ms ease-in-out}
#global-nav li a::after{content:'';display:block;position:absolute;bottom:0;left:0;width:100%;height:0;background-color:#222;-webkit-transition:height 120ms ease-in-out;-moz-transition:height 120ms ease-in-out;-ms-transition:height 120ms ease-in-out;-o-transition:height 120ms ease-in-out;transition:height 120ms ease-in-out}
#global-nav li a:hover,#global-nav li a.active{color:#222}
#global-nav li a.active::after{height:5px}
.content{position:relative;width:1030px;margin:0 auto;padding:60px 60px 0;font-family: 'Playfair Display', serif;text-align:justify;}
.content .section{height:calc(100vh - 180px);padding-top:60px}
.content .section:last-child{padding-bottom:60px}
.content .section .area{width:100%;height:100%;padding:50px;border:0px solid #222;color:#1a1818;font-size:40px;font-weight:400;line-height:30px;box-sizing:border-box}
#section-1 .area{font-size: 60px;line-height:90px;}
#section-1 .area span{display:inline-block}
#section-1 .area .name{font-family: 'Pinyon Script', cursive;font-size: 40px;font-weight: 300; text-align: center; margin-top: 180px;}
#section-2 .area{font-size: 20px; line-height:40px;}
#section-2 .area span{display:inline-block; opacity: 0;}
#section-3 .area{font-size: 20px; line-height:40px;}
#section-3 .area span{display:inline-block; opacity: 0;}
#section-4 .area span{display:inline-block; opacity: 0;}
.content #section-1{height:820px;}
.content #section-2{height:2200px;}
.content #section-3{height:2400px;}
.content #section-4{height:3100px; margin-top:400px;}
.content .section .area .title{font-size: 60px;text-align: center;margin-bottom:50px;}
.linesection{width:100%; height: 150px; margin: 0 auto;margin-bottom:30px;}
.line-1{background-color: black; width: 1px; height: 0px; margin: 0 auto;}
.line-2{background-color: black; width: 1px; height: 0px; margin: 0 auto;}
.line-3{background-color: black; width: 1px; height: 0px; margin: 0 auto;}
.line-4{background-color: black; width: 1px; height: 0px; margin: 0 auto;}
.parralax-img{width: 100%;}
#section-1 .parralax-img:nth-of-type(1){position:absolute; top: 0; left: 0;}
#section-2 .parralax-img:nth-of-type(1){position:absolute; width: 800px; z-index: -1; top: 1200px; right: -200px}
#section-2 .parralax-img:nth-of-type(2){position:absolute; width: 1000px; z-index: -1;top: 1800px; left: -400px}
#section-2 .parralax-img:nth-of-type(3){position:absolute; width: 800px; z-index: -1;top: 2400px; right: -400px}
#section-3 .area-1 .parralax-img{position:absolute; width: 500px; z-index: -1;}
#section-3 .area-2 .parralax-img{position:relative; width: 500px;top:400px; left:428px; z-index: -1;}
.subtitle{margin-bottom: 20px;}
.area-1 .subtitle{position: relative; top: 100px; left: 400px; font-size: 60px; font-family: 'Pinyon Script', cursive;}
.area-1 .subsubtitle{position: relative; top: 100px; left: 400px; width: 520px; display: inline-block;}
.area-1 .text-area{position: relative; top: 410px;}
.area-2 .subtitle{position: relative; top: 100px; font-size: 60px;font-family: 'Pinyon Script', cursive;}
.area-2 .subsubtitle{position: relative; top: 100px; width: 520px;}
.area-2 .text-area{position: relative; top: 420px; margin-top: 20px;}
.area-2 {margin-top: 100px;}
.cover-1{position: absolute; bottom: 4730px;width: 500px; height: 1000px; background: #eeecea;}
.cover-2{position: absolute;left:538px; bottom: 3550px;width: 500px; height: 1000px; background: #eeecea;}
.read-more{border: 1px solid; display: block; text-align: center; margin: 0 auto; margin-top: 40px; width: 150px;}
#grid{
	/* max-width:1280px; */
	width: 100%;
	margin-right:auto;
	margin-left:auto
}
.grid{
	display:flex;
	display:-webkit-flex;
	flex-direction:row;
	/* flex-direction:row-reverse; */
	flex-wrap:wrap;
	justify-content:center;
}
.grid-item{
	padding-right:30px;
	padding-bottom:80px;
	padding-left:30px;
	/* align-self:flex-start */
	align-self:flex-end
	/* align-self:center */
}
.grid-item .figure{
	width:240px;
	padding-bottom:20px
}
.grid-item .figure img{
	display:inline-block;
	width:100%;
	vertical-align:top;
}
.grid-item .figure img:hover{
	display:inline-block;
	width:100%;
	vertical-align:top;
	cursor:pointer;
    transform:scale(1.1);
	-o-transform:scale(1.1); 
    -moz-transform:scale(1.1);
    -webkit-transform:scale(1.1);
    transition: transform .35s;  
    -o-transition: transform .35s;
    -moz-transition: transform .35s;
    -webkit-transition: transform .35s;
}
.grid-item .caption{
	padding-bottom:30px;
	color:black;
	font-size:30px;
	line-height:18px
}
.footer{
	text-align: center;
	margin-bottom: 10px;
}
.end{
	width: 930px;
	height: 1px;
	background-color: black;
	margin: 8px auto;
}
.sns{
	text-align: center;
	margin-bottom: 12px;
}
.sns li{
	display: inline;
}
.horizontal:nth-child(1){position: absolute;top: 150px; width:0px;height: 1px;background-color: black;}
.horizontal:nth-child(2){position: absolute; top:650px;right:59px;width:0px;height: 1px;background-color: black;}
.vertical-1{position: absolute;bottom: 8629px;width: 1px; height: 0px;background-color: black;}
.vertical-2{position: absolute;top:150px;right:59px;width: 1px; height: 0px;background-color: black;}

